
body {
 background-color: #f4f1bb;
   
}

::-webkit-scrollbar {
    display: none;
}

.enreeltitulo {
    font-family: 'Josefin Sans', sans-serif;;
   font-size: 50px;
   padding-right: 70px;
}

.textosheader {
    width: 150px;
    font-family:'Josefin Sans', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


.textosheader img {
    width: 25px;
}

.homegeneros {
    font-family: 'Josefin Sans', sans-serif;
}

.header1 {
    border-bottom: black 1px solid;
}


.header1 ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
}

.header1 ul li a {
    text-decoration: none;
    color: black;
}



.header2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}


.header2 ul{
    display: flex;
    list-style: none;
    width: 200px;
    justify-content: space-around;
    }

.header2 ul li a {
    text-decoration: none;
    color: #f4f1bb;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    padding: 6px;
}


.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
}

.searchterm {
    border-right: none;
    border: none;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
}

.searchbutton {
    width: 40px;
    border: none;
    border-left: 1px solid grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: white;
    
}

.iconobuscar {
    width: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
}

.section-body {
    padding-bottom: 35px;
    padding-top: 35px;
}

.titulos-colecciones {
display: flex;
justify-content: space-around;
font-family: 'Josefin Sans', sans-serif;
}

.container1 {
   display: flex;
   justify-content: space-around;
   
   padding-top: 20px ;
    padding-bottom: 20px;
    align-items: center;
    padding-bottom: 30px;
}


.caja img {
    border-radius: 5px 5px 5px 5px;
}

.flecha {
    
    width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.flecha img {
    width: 30px;
}

.pelicula-serie {
    text-decoration: none;
    color: black;
    
}

.pelicula-serie img {
    width: 200px;
    height: 120px;
    display: block;
}


.footer {
    border-top: black 1px solid;
}

.footer div {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.footer div ul {
    display: flex;
    width: 150px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
   
}


.footer ul li a {
     text-decoration: none;
    color: #f4f1bb;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    padding: 6px;
}

.logochico {
    width: 150px;
}

.divs-footer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nombresfooter {
    font-family:'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 420px) {


    body {
        background-color: #f4f1bb;
          width: 100%;
          
       }
       
       .enreeltitulo {
           font-family: 'Josefin Sans', sans-serif;;
          font-size: 25px;
          padding-right: 10px;
       }
       
       .textosheader {
           width: 75px;
           font-family:'Josefin Sans', sans-serif;
           display: flex;
           align-items:  center;
           justify-content: space-between;           
       }
       
       .textosheader img {
           width: 10px;
       }

       .textosheader a {
           font-size: 10px;
           white-space: nowrap;
       }


       .homegeneros {
           font-family: 'Josefin Sans', sans-serif;
           font-size: 10px;
       }
       
       .header1 {
           border-bottom: black 1px solid;
           padding-top: 20px;
           padding-bottom: 10px;
           
       }
       
       

       
       .header1 ul  {
           display: flex;
           justify-content: space-around;
           align-items: center;
           list-style: none;
           padding-left: 0px;
           
       }
       
       .enreellogo {
           width: 70px;
           margin-right: 30px;
       }

       .header1 ul li a {
           text-decoration: none;
           color: black;
       }
       
       
       .header2 {
           
           display: flex;
          
           padding-left: 0px;
           justify-content: space-between;
           padding-right: 20px;
           padding-bottom: 20px;
           padding-top: 20px;

       }
    
       .header2 ul {
           width: 200px;
           margin-left: 100px;
           justify-content: space-between;
           padding-right: 0px;
           padding-left: 70px;
       }
       
       .header2 ul li a {
           text-decoration: none;
           color: #f4f1bb;
           border: 1px solid  black;
           border-radius: 10px 10px 10px 10px;
           padding: 3px;
           background-color: black;
       
       }
       
       
       .searchbar {
           display: flex;
           justify-content: space-around;
           align-items: center;
           
       }
       
       .search {
           display: flex;
           width: 100%;
       }
       
       .searchterm {
           border-right: none;
           border: none;
           padding: 5px;
           border-radius: 5px 0px 0px 5px;
           width: 60px;
           height: 8px;
           font-size: 10px;
       }
       
       .searchbutton {
           width: 30px;
           height: 18px;
           border: none;
           border-left: 1px solid grey;
           border-radius: 0 5px 5px 0;
           cursor: pointer;
           background-color: white;
           
       }
       
       .iconobuscar {
           width: 13px;
           display: flex;
           align-items: center;
           padding: 2px;
       }
       
       .section-body {
           padding-bottom: 20px;
           padding-top: 20px;
       }
       
       .titulos-colecciones {
       display: flex;
       justify-content: space-around;
       font-family: 'Josefin Sans', sans-serif;
       font-size: 12px;
       margin-top: 20px;
       
       }
       
       .container1 {
          display: flex;
          justify-content: space-around;
          
          padding-top: 0px;
           padding-bottom: 20px;
           align-items: center;
           
       }
       
       
       .caja img {
           border-radius: 5px 5px 5px 5px;
           margin-left: 3px;
           margin-right: 3px;
       }
       
       .flecha {
           
           width: 50px;
           background-color: transparent;
           border: none;
           cursor: pointer;   
       }

       .flechaizq {
           padding-left: 20px;
       }
       
       .flechader {
           padding-right: 20px;
       }

       .flecha img {
           width: 15px;
       }
       
       .pelicula-serie {
           text-decoration: none;
           color: black;
           
       }
       
       .pelicula-serie img {
           width: 100px;
           height: 60px;
           display: block;
       }

       #paramedic {
          display: none;
       }

       #miracle {
        display: none;
       }
       
       #schindler {
        display: none;
       }

       #casapapel {
        display: none;
       }

       #americansniper {
        display: none;
       }

       #hacksaw {
        display: none;
       }
       
       .footer {
           border-top: black 1px solid;
           margin-top: 30px;
           padding-top: 25px;
       }
       
       .footer div {
           display: flex;
           justify-content: space-between;
           padding-left: 0px;
           
       }
       
       .footer div ul {
           display: flex;
           width: 100px;
           list-style: none;
           align-items: center;
           justify-content: space-between;
           padding-right: 20px;
           padding-left: 40px;
          
       }
       
       
       .footer ul li a {
           text-decoration: none;
           color: #f4f1bb;
           border-radius: 10px 10px 10px 10px;
           border: 1px solid black;
           padding: 3px;
           background-color: black;
       }
       
       .logochico {
           display: none;
           
       }
       
      .divs-footer {
          padding-right: 0px;
      }

       .nombresfooter {
        font-family:'Josefin Sans', sans-serif;
        font-size: 8px;
    }

    .footer div.searchbar {
        padding-left: 0px;
    }
}
