
body {
    background-color: #f4f1bb;
}

.enreeltitulo {
    font-family: 'Josefin Sans', sans-serif;;
   font-size: 50px;
}

.textosheader {
    width: 225px;
    font-family:'Josefin Sans', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.textosheader img {
    width: 25px;
}

.homegeneros {
    font-family: 'Josefin Sans', sans-serif;
}

.header1 {
    border-bottom: black 1px solid;
}

.header2 {
    border-bottom: solid 1px black;
}

.header1 ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
}

.header1 ul li a {
    text-decoration: none;
    color: black;
}

.header2 {
    display: flex;
    padding-left: 90px;
    justify-content: space-between;
    padding-right: 640px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.header2 ul{
    display: flex;
    list-style: none;
    width: 100%;
    padding-left: 350px;
    justify-content: space-between;
}

.header2 ul li a {
    text-decoration: none;
    color: black;

}

.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
}

.searchterm {
    border-right: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    
}

.searchbutton {
    width: 40px;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.iconobuscar {
    width: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
}


.section-body{
    display: flex;
    justify-content: space-between;
    padding-top:  50px;
    padding-left: 20px;
    height: 450px;
}
.foto-detalle a img{
    width: 670px;
    height: 380px;
    border-radius: 5px 5px 5px 5px;
}
.detalle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 30px;
}
.titulo-pelicula  {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.titulo-pelicula h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
}

.descripcion-actores {
    display: flex;
    flex-direction: column;
}

.sinopsis p {
    font-family: 'Josefin Sans', sans-serif;
}

.reproducir button{
    cursor: pointer;
    width: 150px;
    border: none;
    background-color: transparent;
}
.reproducir button img {
    width: 100%;
}


.footer {
    border-top: black 1px solid;
}

.footer div {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.footer div ul {
    display: flex;
    width: 150px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
   
}


.footer ul li a {
    text-decoration: none;
    color: black;
}

.logochico {
    width: 150px;
}

.divs-footer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}